@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  @apply bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100;
}
